<a href="https://colab.research.google.com/github/Hanchaeeun/HanChaeEun/blob/main/Load_ASOS%2CPM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [23]:
import os
import numpy as np
import pandas as pd
import datetime

# Load

## ASOS Data

In [24]:
path = '/content/gdrive/MyDrive/기상기후 데이터/목포_ASOSdata/'
file_list = os.listdir(path)

df = pd.DataFrame()
for i in file_list:
  print(i)
  ASOSdata = pd.read_csv(path+i, encoding='CP949')
  df = pd.concat([df, ASOSdata])

OBS_ASOS_TIM_20211226163821.csv
OBS_ASOS_TIM_20211226163857.csv
OBS_ASOS_TIM_20211226163947.csv
OBS_ASOS_TIM_20211226164045.csv
OBS_ASOS_TIM_20211229215120.csv

In [25]:
df = df.sort_values('일시').reset_index(drop=True)
df

        지점 지점명                일시  ...  운형(운형약어)  최저운고(100m )  시정(10m)
0      165  목포  2015-01-01 00:00  ...       NaN          NaN      NaN
1      165  목포  2015-01-01 01:00  ...      CuSc          8.0    500.0
2      165  목포  2015-01-01 02:00  ...      CuSc          8.0    700.0
3      165  목포  2015-01-01 03:00  ...        Sc         10.0   2000.0
4      165  목포  2015-01-01 04:00  ...      CuSc          8.0   1800.0
...    ...  ..               ...  ...       ...          ...      ...
43818  165  목포  2019-12-31 19:00  ...       NaN         10.0   2000.0
43819  165  목포  2019-12-31 20:00  ...       NaN         10.0   2000.0
43820  165  목포  2019-12-31 21:00  ...        Sc         10.0   2000.0
43821  165  목포  2019-12-31 22:00  ...       NaN         10.0   2000.0
43822  165  목포  2019-12-31 23:00  ...       NaN         10.0   2000.0

[43823 rows x 15 columns]

In [26]:
df['시간'] = pd.to_datetime(df['일시'], format='%Y-%m-%d %H').dt.hour
df['일시'] = df['일시'].str[:10]

In [27]:
col_list = df.columns
col_name = []

for i in col_list:
  name = i.split("(")[0]
  col_name.append(name)
col_name

['지점',
 '지점명',
 '일시',
 '기온',
 '강수량',
 '풍속',
 '풍향',
 '습도',
 '일조',
 '일사',
 '전운량',
 '중하층운량',
 '운형',
 '최저운고',
 '시정',
 '시간']

In [28]:
df.columns = col_name
print(df.shape)
df.head(2)

(43823, 16)

    지점 지점명          일시   기온  강수량    풍속  ...  전운량  중하층운량    운형  최저운고     시정  시간
0  165  목포  2015-01-01  NaN  0.2   7.6  ...  NaN    NaN   NaN   NaN    NaN   0
1  165  목포  2015-01-01 -1.8  NaN  10.4  ...  8.0    8.0  CuSc   8.0  500.0   1

[2 rows x 16 columns]

## Particulate Matter Data

In [29]:
path='/content/gdrive/MyDrive/기상기후 데이터/PMdata/'
file_list = os.listdir(path)

Data_15 = pd.DataFrame()
for i in file_list[4:8]:
  data = pd.read_csv(path+i)
  data = data[data['지역'] == '전남 목포시']
  Data_15 = pd.concat([Data_15,data])
  file_list.remove(i)
  print(path+i)

/content/gdrive/MyDrive/기상기후 데이터/PMdata/2015년1분기.csv
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2015년2분기.csv
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2015년3분기.csv
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2015년4분기.csv

In [30]:
Data_16 = pd.DataFrame()
for i in file_list[:4]:
  data = pd.read_csv(path+i, encoding='CP949')
  data = data[data['지역'] == '전남 목포시']
  Data_16 = pd.concat([Data_16,data])
  file_list.remove(i)
  print(path+i)

/content/gdrive/MyDrive/기상기후 데이터/PMdata/2016년 1분기.csv
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2016년 2분기.csv
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2016년 3분기.csv
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2016년 4분기.csv

In [31]:
PMdata = pd.DataFrame()
for i in file_list:
  data = pd.read_excel(path+i)
  data = data[data['지역'] == '전남 목포시']
  PMdata = pd.concat([PMdata,data])
  print(path+i)

/content/gdrive/MyDrive/기상기후 데이터/PMdata/2018년 1분기.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2018년 2분기.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2018년 3분기.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 1월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 2월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 3월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 4월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 5월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 6월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 7월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 8월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 9월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 10월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 11월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2017년 12월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 1월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 2월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 3월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 11월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 10월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 9월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 8월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 7월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 6월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 5월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 4월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2019년 12월.xlsx
/content/gdrive/MyDrive/기상기후 데이터/PMdata/2018년 4분기.xlsx

In [32]:
PMdata.sort_values('측정일시', inplace=True)
PMdata.drop(columns='망', inplace=True)
PMdata.head()

            지역   측정소코드 측정소명  ...  PM10  PM25                                주소
140616  전남 목포시  336112  부흥동  ...  54.0  43.0               전남 목포시 삼향천로 28(옥암동)
139872  전남 목포시  336111  용당동  ...  66.0  38.0  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
139873  전남 목포시  336111  용당동  ...  63.0  42.0  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
140617  전남 목포시  336112  부흥동  ...  58.0  41.0               전남 목포시 삼향천로 28(옥암동)
139874  전남 목포시  336111  용당동  ...  60.0  36.0  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)

[5 rows x 11 columns]

In [33]:
Data_15.head()

            지역   측정소코드 측정소명  ...  PM10  PM25                                주소
568824  전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
568825  전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
568826  전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
568827  전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
568828  전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)

[5 rows x 11 columns]

In [34]:
Data_16.head()

            지역   측정소코드 측정소명        측정일시  ...    NO2  PM10  PM25           주소
580944  전남 목포시  336111  용당동  2016010101  ...  0.043  91.0   NaN  전남 목포시 용당2동
580945  전남 목포시  336111  용당동  2016010102  ...  0.044  88.0   NaN  전남 목포시 용당2동
580946  전남 목포시  336111  용당동  2016010103  ...  0.037  96.0   NaN  전남 목포시 용당2동
580947  전남 목포시  336111  용당동  2016010104  ...  0.036  90.0   NaN  전남 목포시 용당2동
580948  전남 목포시  336111  용당동  2016010105  ...  0.028  90.0   NaN  전남 목포시 용당2동

[5 rows x 11 columns]

In [35]:
PMdata = pd.concat([Data_15, Data_16, PMdata])
PMdata.reset_index(inplace=True, drop=True)
PMdata

           지역   측정소코드 측정소명  ...  PM10  PM25                                주소
0      전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
1      전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
2      전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
3      전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
4      전남 목포시  336111  용당동  ...   NaN   NaN  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
...       ...     ...  ...  ...   ...   ...                               ...
87643  전남 목포시  336112  부흥동  ...  13.0   2.0               전남 목포시 삼향천로 28(옥암동)
87644  전남 목포시  336112  부흥동  ...  16.0   3.0               전남 목포시 삼향천로 28(옥암동)
87645  전남 목포시  336111  용당동  ...   8.0   7.0  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)
87646  전남 목포시  336112  부흥동  ...   NaN   NaN               전남 목포시 삼향천로 28(옥암동)
87647  전남 목포시  336111  용당동  ...  23.0   7.0  전남 목포시 동부로 31번길 20(용당1동 주민센터 옥상)

[87648 rows x 11 columns]

# Preprocessing

## Data extraction

In [36]:
PMdata['측정소명'].unique()

array(['용당동', '부흥동'], dtype=object)

In [37]:
PMdata = PMdata[PMdata['측정소명'] == '용당동']
PMdata.shape

(43824, 11)

In [38]:
PMdata = PMdata.loc[:,["측정일시","PM10","PM25"]]
PMdata.reset_index(inplace=True, drop=True)
PMdata

             측정일시  PM10  PM25
0      2015010101   NaN   NaN
1      2015010102   NaN   NaN
2      2015010103   NaN   NaN
3      2015010104   NaN   NaN
4      2015010105   NaN   NaN
...           ...   ...   ...
43819  2019123120  13.0   6.0
43820  2019123121  17.0   8.0
43821  2019123122  13.0   5.0
43822  2019123123   8.0   7.0
43823  2019123124  23.0   7.0

[43824 rows x 3 columns]

In [39]:
PMdata['시간'] = PMdata['측정일시'].astype(str).str[-2:].astype(int) - 1

In [40]:
PMdata

             측정일시  PM10  PM25  시간
0      2015010101   NaN   NaN   0
1      2015010102   NaN   NaN   1
2      2015010103   NaN   NaN   2
3      2015010104   NaN   NaN   3
4      2015010105   NaN   NaN   4
...           ...   ...   ...  ..
43819  2019123120  13.0   6.0  19
43820  2019123121  17.0   8.0  20
43821  2019123122  13.0   5.0  21
43822  2019123123   8.0   7.0  22
43823  2019123124  23.0   7.0  23

[43824 rows x 4 columns]

## Data save

In [41]:
PMdata.to_csv('/content/gdrive/MyDrive/기상기후 데이터/PM_data.csv', index = None)

In [42]:
df.to_csv('/content/gdrive/MyDrive/기상기후 데이터/ASOS_df.csv', index = None)